/*
    *** scss breakpoint
*/
* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

ul li {
    list-style: none;
}

img {
    vertical-align: bottom;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 0 0 40px 0;
    background: #00be88;
}
@media screen and (max-width: 767px) {
    header {
        margin: 0 0 20px 0;
    }
}

main .upload-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: calc(100% - 40px);
    max-width: 768px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 16px 24px;
    margin-inline: auto;
}
main .upload-wrapper.dragover {
    background: #f0f0f0;
    border-color: #333;
}
main .upload-wrapper .custom-upload {
    text-align: center;
    font-size: 1.4rem;
    background: #333;
    color: #fff;
    font-weight: bold;
    width: 200px;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
}
main .upload-wrapper .custom-upload input {
    display: none;
}
main .upload-wrapper .upload-filename {
    font-size: 1.6rem;
    color: #333;
}
main .upload-wrapper .upload-filename span {
    display: block;
    font-size: 1.2rem;
}
main .preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 20px auto;
    width: calc(100% - 40px);
    max-width: 1200px;
}
main .preview-container .preview-item {
    max-width: 320px;
    width: 100%;
}
main .preview-container .preview-item img {
    width: 100%;
}
main .preview-container .preview-item button {
    display: block;
    margin-top: 12px;
    border: none;
    font-size: 1.4rem;
    background: #00be88;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
}
main .download-all-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px auto;
}
main .download-all-buttons button {
    border: none;
    font-size: 1.4rem;
    background: #0066cc;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 9999px;
    cursor: pointer;
}
main .download-all-buttons button:last-child {
    background: #cc0066;
}